* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F7F7F7;
  color: black;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.alt-gothic {
  font-family: alternate-gothic-no-3-d, sans-serif;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .alt-gothic;
  text-transform: uppercase;
}

main {
  opacity: 1;
  z-index: 1;
  transition: all 0.4s ease-in;

  &.loading {
    opacity: 0;
    transition: all 0.4s ease-in;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  &.with-underline {
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    color: $brand-secondary;

    &:after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      height: 2px;
      background: $brand-secondary;
    }
  }

  &:hover {
    cursor: pointer;
  }

}

/* Zoom in Keyframes */
@-webkit-keyframes zoomin {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes zoomin {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}
/*End of Zoom in Keyframes */

/* Zoom out Keyframes */
@-webkit-keyframes zoomout {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.67);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes zoomout {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.67);
  }

  100% {
    transform: scale(1);
  }
}
/*End of Zoom out Keyframes */

section {
  text-align: center;
  background-position: top center;
  background-size: cover;

  h1 {
    font-size: 2em;
    text-transform: uppercase;
    line-height: 4rem;
    @media (min-width: 480px) {
      font-size: 3em;
      line-height: 5rem;
    }
    @media (min-width: $medium-mobile) {
      font-size: 4em;
      line-height: 6rem;
    }
    @media (min-width: 992px) {
      font-size: 5em;
      line-height: 8rem;
    }

  }

  .btn {
    margin-top: 10px;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
    text-transform: uppercase;
    text-align: center;
    @media (min-width: 480px) {
      width: auto;
      padding: 25px;
    }
    @media (min-width: 992px) {
      width: auto;
      padding: 50px 100px;
    }
  }
}

div.link-header {
  font-size: 0.75rem;
  letter-spacing: 0.8px;
  color: white;
  margin-bottom: 1rem;
}

.btn {
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 4px;
  text-align: center;

  &.white-border {
    background-color: transparent;
    border: 1px solid white;
    text-transform: capitalize;
    padding: 10px 23px;
    transition: all 0.2s ease-in;
    color: white;

    &:focus,
    &:hover {
      transition: all 0.2s ease-in;
      background-color: white;
      color: black;
    }
  }

  &.solid {
    background-color: $brand-secondary;
    border: 0;
    color: white;
    width: 150px;
    padding: 13px 0 15px;
    border: 0;
    transition: all 200ms ease-in-out;

    &:focus,
    &:hover {
      transition: all 200ms ease-in-out;
      background-color: black;
      cursor: pointer;
    }

  }

  &.black-border {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 4px;
    text-transform: capitalize;
    padding: 10px 20px;
    transition: all 0.2s ease-in;
    color: black;

    &:focus,
    &:hover {
      transition: all 0.2s ease-in;
      background-color: black;
      color: white;
    }
  }
}

.step {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 15px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: $brand-secondary;
  color: white;
  @extend .alt-gothic;

  @media (min-width: 768px) {
    margin: 0 0 15px;
  }

  span {
    position: relative;
    top: 1px;
    font-size: 1rem;
    line-height: 0.9;
  }
}

.block {
  h2 {
    font-size: 2.4rem;
    line-height: 1;
    margin: 0;
  }

  p {
    font-size: 0.9rem;
    color: #939393;
    letter-spacing: 0.4px;
    margin: 0;
    line-height: 1.3rem;
    padding: 10px 0 25px;
    margin: 0 auto;

    @media (min-width: $medium-mobile) {
      font-size: 1rem;
      line-height: 1.5rem;
      width: 100%;
      margin: 0;
    }
  }

  &.block-hero {
    background-size: cover;
    background-position: center center;
    background-color: $brand-primary;
    height: 100vh;
    position: relative;
    padding: 0;
    z-index: 0;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: black;
      opacity: 0.3;
      z-index: 1;
    }

    .content {
      position: absolute;
      text-align: center;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      top: 33%;
      z-index: 2;

      @media (min-width: $small-mobile) {
        top: 30%;
      }

      @media (min-width: 768px) {
        width: 500px;
        top: 34%;
      }

      @media (min-width: 1200px) and (max-height: 800px) {
        top: 32%;
      }

      @media (min-width: 1200px) and (max-height: 900px) {
        top: 33%;
      }

      h1 {
        color: white;
        text-transform: uppercase;
        margin: 0 auto;
        font-size: 2.5rem;
        line-height: 2.1rem;
        width: 250px;

        @media (min-width: $small-mobile) {
          font-size: 3.5rem;
          line-height: 2.8rem;
          width: 275px;
        }

        @media (min-width: $small-mobile) and (max-height: 800px) {
          font-size: 2.5rem;
          line-height: 2.1rem;
          width: 250px;
        }

        @media (min-width: 768px) {
          margin: 0 auto 10px;
          font-size: 4.125rem;
          line-height: 3.5rem;
          width: 350px;
        }

        @media (min-width: 1200px) and (max-height: 800px) {
          font-size: 3.125rem;
          line-height: 2.5rem;
          width: 300px;
        }

        @media (min-width: 1200px) and (max-height: 900px) {
          font-size: 3.625rem;
          line-height: 3rem;
          width: 350px;
        }

      }

      p {
        margin-top: 0;
        width: 300px;
        margin: 0 auto;
        color: white;
        font-size: 0.9rem;
        line-height: 1.3;
        margin-bottom: 0;

        @media (max-width: $small-mobile - 1) {
          padding-bottom: 15px;
        }

        @media (min-width: $medium-mobile) {
          width: 400px;
          margin-bottom: 20px;
        }

        @media (min-width: 1200px) and (max-height: 900px) {
          margin-bottom: 0;
        }
      }

      .app-downloads {
        a {
          svg {
            @media (max-width: $small-mobile - 1) {
              height: 35px;
            }
          }
        }
      }
    }
  }

  &.block-video {}

  &.block-feature.with-phone {
    text-align: center;
    position: relative;
    background-color: #EFEFEF;

    .phone {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: 4;
      pointer-events: none;
      user-select: none;
    }

    .content {
      margin-top: 0;

      h2 {
        font-size: 2.375rem;
        line-height: 1;
        margin: 0 auto;
        max-width: 270px;
      }

      p {
        margin: 15px auto 0;
        max-width: 300px;

        @media (max-width: $small-mobile - 1) {
          padding: 0 20px 25px;
        }

        @media (min-width: 768px) {
          margin: 15px auto 30px;
          max-width: 460px;
        }
      }
    }
  }

  &.half-half {
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 0;

    > div {
      width: 50%;
      float: left;

      img {
        width: calc(100% - 40px);
        display: block;
        margin: 0 auto;
        border-radius: 0;
        @media (min-width: $medium-mobile) {
          width: 100%;
        }
      }

      &.content {
        align-self: center;
        padding: 2rem 20px 4rem;
        text-align: center;

        @media (min-width: $medium-mobile) {
          padding: 5rem;
          text-align: left;
        }

        p {
          max-width: 260px;

          @media (min-width: $medium-mobile) {
            width: 100%;
          }
        }

        h2 {
          @media (min-width: $small-mobile) {
            width: 75%;
          }

          margin: 0 auto;

          @media (min-width: $medium-mobile) {
            width: 100%;
            margin: 0;
          }
        }
      }
    }
  }

  &.block-premium {
    background-image: url("../img/premium-mobile-bg.jpg");
    background-position: center center;
    background-size: cover;
    position: relative;
    padding: 5rem 2rem;

    @media (min-width: $medium-mobile) {
      padding: 10rem 2rem;
      background-image: url("../img/premium.jpg");
    }

    &:after {
      content: "";
      background-color: black;
      opacity: 0.4;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 0;
    }

    .premium-wrap {
      position: relative;
      z-index: 1;

      text-align: center;

      @media (min-width: 1024px) {
        text-align: left;
      }

      @media (min-width: $medium-mobile) {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    .content {
      h2 {
        color: white;
        margin: 0 auto;
        line-height: 1;
        max-width: 300px;
        @media (min-width: 1024px) {
          margin: 0;
        }
      }

      p {
        max-width: 480px;
        color: white;
        margin: 0 auto;
        padding-bottom: 0;
        @media (min-width: 1024px) {
          margin: 0;
        }

        &:last-of-type {
          padding-top: 0;
          padding-bottom: 30px;
          @media (min-width: 1024px) {
            padding-bottom: 0;
          }
        }
      }
    }
  }
}

form {
  .form-control {
    border: 1px solid black;
    background-color: white;
    color: black;
    font-size: 1.2em;
    padding: 1rem;
    transition: all 0.2s ease-in;
    font-family: alternate-gothic-no-3-d, sans-serif;

    &::placeholder {
      font-family: alternate-gothic-no-3-d, sans-serif;
      color: white;
      text-transform: uppercase;
    }

    &:focus {
      border-color: white;
      box-shadow: none;
      background-color: white;
      color: black;
      transition: all 0.2s ease-in;

      &::placeholder {
        color: gray;
      }
    }
  }

  textarea {
    &.form-control {
      padding: 1rem;
    }
  }
}

.app-downloads {
  overflow: hidden;
  display: flex;
  justify-content: center;

  a {
    display: inline-block;
    float: left;

    &:first-of-type {
      margin-right: 15px;
    }

    &:last-of-type {}

    svg {
      height: 40px;
    }
  }
}

.hide {
  display: none;
}

.tns-nav {
  position: relative;
  z-index: 2;
  margin-bottom: 30px;

  button {
    border: 0;
    padding: 0;
    height: 8px;
    width: 8px;
    font-size: 0;
    margin: 0 2px;
    border-radius: 50%;
    background-color: #B4B4B4;

    &.tns-nav-active {
      background-color: $brand-secondary;
    }

    &:focus {
      outline: 0;
    }

  }
}

.menu-social {
  margin-left: auto;
  margin-right: 0;

  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (min-width: $small-mobile) {
      width: 290px;
    }
  }

  .link-header {
    margin-top: 2rem;

    @media (min-width: $medium-mobile) {
      margin-top: 0;
    }
  }

  a {
    color: #222;
    transition: color 200ms ease-in;
    text-decoration: none;

    @media (min-width: $small-mobile) {
      margin-right: 16px;
    }

    &:focus,
    &:hover {
      i.fa-circle {
        transition: color 200ms ease-in;
        color: $brand-secondary;
      }

      transition: color 200ms ease-in;
      color: #FFF;
    }

    &:last-of-type {
      margin-right: 0;
    }

    span.fa-stack {
      width: 2em;
      margin-bottom: 0;
    }

    i.fa-circle {
      transition: color 200ms ease-in;
      color: #909090;
    }
  }
}

.block-ig-feed {
  padding: 6rem 0;
  text-align: center;

  @media (min-width: 768px) {
    padding: 8rem 0 4rem;
  }

  h2 {
    padding-bottom: 50px;

    small {
      display: block;

      a {
        color: $brand-secondary;
        text-decoration: none;
        font-size: 75%;
        transition: color 200ms ease-in;

        &:hover,
        &:visited {
          transition: color 200ms ease-in;
          color: $brand-primary;
        }
      }
    }
  }

  a {
    display: inline-block;
  }

  .post {
    width: 400px;

    img {
      display: block;
      width: 100%;
    }
  }

  .feed-wrap {
    position: relative;

    // display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

#ig-feed-ow {
  position: relative;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  // blockquote {
  //   width: 100%;
  // }

  .tns-slider {
    display: flex;
    margin-bottom: 8rem;
  }

  .tns-nav {
    position: absolute;
    left: 50%;
    bottom: 4rem;
    transform: translateX(-50%);
    z-index: 2;
    margin: 0;
  }

  img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 0;
    text-align: left;
    border-radius: 0;
    background: #FFF;
    box-shadow: 0 24px 36px 0 rgba(0,0,0,0.1);

    svg {
      width: 25px;
      height: 25px;
      fill: $brand-secondary;
    }

    img {
      width: 50px;
      border-radius: 50%;
      margin-bottom: 0;
    }

    p {
      color: #303030;
      font-size: 0.85em;
      line-height: 1.1rem;
      padding-top: 5px;
      width: 100%;
      margin: 0;
      @media (min-width: 768px) {}
      //
      @media (min-width: 1600px) {
        width: 75%;
      }
    }

    footer {
      display: flex;
      flex-direction: column;

      cite {
        display: inline-block;
        font-style: normal;
        font-weight: 400;
        @extend .alt-gothic;
        margin-top: 10px;
        font-size: 1.1rem;
        color: $brand-secondary;
        text-transform: uppercase;
      }
    }
  }
}
