body {
  > a.sr-only {
    &:active,
    &:focus {
      clip: auto;
      z-index: 2;
      width: auto;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
    }
  }

  .logo {
    position: relative;
    width: 125px;
    top: -3px;

    @media (min-width: 1024px) {
      width: 150px;
      top: -7px;
    }

    svg {
      width: 100%;
    }
  }

  &.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
  }

  $navtime: 0.5s;

  nav#mobile-nav {
    visibility: hidden;
    opacity: 0;
    transition: opacity $navtime, visibility 0s $navtime;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: $brand-secondary;

    &.open {
      visibility: visible;
      opacity: 1;
      transition: opacity $navtime;
    }

    .content {
      // position: relative;
    }

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 1rem 1rem 2rem;

      .close {
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: white;

        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    ul.mobile-nav {
      list-style: none;
      width: 100%;
      margin: 0;
      padding: 0 2rem;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);

      li {
        a {
          @media (min-width: $small-mobile) {
            font-size: 3rem;
          }

          font-size: 2.8rem;
          line-height: 1;
          text-transform: uppercase;
          text-decoration: none;
          color: white;
          @extend .alt-gothic;
        }
      }
    }

    .menu-social {
      padding: 0 2rem 2rem;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      .link-header {
        margin-top: 0;
      }

      .links {
        display: inline-block;

        a {
          color: $brand-secondary;
          margin-right: 4px;

          i.fa-circle {
            color: #FFF;
          }
        }
      }
    }
  }

  > header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 1rem 2rem;

    @media (min-width: 768px) {
      padding: 2rem;
    }

    .menu-icon {
      display: block;
      width: 40px;
      height: 40px;
      position: relative;
      transition: background-color 200ms ease-in;
      border-radius: 50%;

      &.open {
        background-color: white;
        transition: background-color 200ms ease-in;

        span {
          &:before {
            background-color: $brand-secondary;
            top: 50%;
            transition: all 200ms ease-in-out;
            transform: translate(-50%, -50%) rotate(45deg);
            transform-origin: center;
          }

          &:after {
            background-color: $brand-secondary;
            top: 50%;
            transition: all 200ms ease-in-out;
            transform: translate(-50%, -50%) rotate(-45deg);
            transform-origin: center;
          }
        }
      }

      span {
        display: inline-block;
        position: absolute;
        top: calc(50%);
        height: 40px;
        width: 40px;
        left: 50%;
        transform: translate(-50%,-50%);

        &:after,
        &:before {
          content: "";
          width: 18px;
          height: 2px;
          background-color: white;
          position: absolute;
          transition: all 200ms ease-in-out;
        }

        &:before {
          top: calc(50% + 3px);
          left: 50%;
          transform: translate(-50%,-50%);
        }

        &:after {
          top: calc(50% - 3px);
          left: 50%;
          transform: translate(-50%,-50%);
        }
      }

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      @media (min-width: 768px) {
        display: none;
      }
    }

    #top-right-menu {
      // margin-left: auto;

      display: none;

      @media (min-width: 768px) {
        display: block;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      .btn {
        @media (min-width: 768px) and (max-width: 1023px) {
          width: 125px;
          padding-left: 0;
          padding-right: 0;
        }

        font-size: 0.8rem;

        @media (min-width: 1024px) {
          font-size: 1rem;
        }
      }
    }

    nav {
      align-self: center;

      &#top-menu {
        // margin-left: 2rem;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: none;

        @media (min-width: 768px) {
          display: block;
        }

      }

      ul {
        margin: 0;
        padding: 0;
      }

      li {
        display: inline-block;
        list-style-type: none;
        position: relative;
        margin-right: 0.8rem;

        @media (min-width: 992px) {
          margin-right: 1.5rem;
        }

        @media (min-width: 1600px) {
          margin-right: 2rem;
        }

        a {
          text-decoration: none;
          padding: 0 0 13px;
          // text-transform: uppercase;
          color: white;
          font-size: 0.8rem;

          @media (min-width: 1024px) {
            font-size: 1rem;
          }

          &:after {
            content: "";
            width: 115%;
            height: 1px;
            background-color: transparent;
            position: absolute;
            bottom: -13px;
            left: 50%;
            transform: translateX(-50%);
            transition: all 200ms ease-in;
          }

          &:focus,
          &:hover {
            &:after {
              transition: all 200ms ease-in;
              background-color: white;
            }
          }

          &.btn {
            &:after {
              content: none;
            }
          }
        }

        &.active {
          a {
            &:after {
              transition: all 200ms ease-in;
              background-color: white;
            }
          }
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}
