body.community {
  main {
    .block {
      &.block-hero {
        background-image: url("../img/community-hero.jpg");

        .content {
          h1 {
            max-width: 310px;
            @media (min-width: 768px) {
              max-width: 330px;
            }
          }
        }
      }

      &.block-feature-phone.connect-with-golfers {
        .content {
          h2 {
            @media (max-width: 767px) {
              margin: 0 auto;
            }
          }

          p {
            max-width: 330px;
            padding-bottom: 0;
          }
        }
      }

      &.get-competitive {
        .content {
          h2 {
            padding-bottom: 25px;
            @media (max-width: 992px) {
              max-width: 300px;
            }
          }
        }
      }

      &.block-hero-interior {
        background-image: url("../img/join-tournament.jpg");

        &.block-hero-interior {
          .content {
            h2 {
              max-width: 370px;
            }

            p {
              padding-bottom: 35px;
              max-width: 340px;
            }
          }
        }

      }
    }
  }
}
